# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
.env
venv/
ENV/
env/
*.sqlite3

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/


# Git
.git/

# Temporary files
*.tmp
*.log

# Model weights (if not tracked)
*.h5
!SkinTypeClassification/app/models/pigmented_nonpigmented_model.h5
!SkinTypeClassification/app/models/oily_dry_model.h5
!SkinTypeClassification/app/models/sensitive_resistant_model.h5